<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pc Pro Dz</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="shortcut icon" href="images/logo.png">

</head>


<body class="bodyBackground">
    <div>
        <!--navigation bar section-->
        <div class="navcontainer">
            <nav class="box">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fa fa-bars"></i>
                </label>
                <a class="notextdecoration" href="index.html">
                    <img src="images/logo.png" alt="logo" id="logoImg">
                </a>
                <a href="index.html" class="logoLabel notextdecoration whiteColor">pc pro dz</a>

                <ul>
                    <li>
                        <img src="images/carticon.png" alt="carticon" class="linkicon">
                        <a class="notextdecoration labeloflink active" href="#">Panier</a>
                    </li>
                    <li>
                        <img src="images/accounticon.png" alt="accounticon" class="linkicon">
                        <a class="notextdecoration labeloflink active" href="login.html">Se Connecter</a>
                    </li>
                    <li>
                        <img src="images/languageicon.png" alt="languageicon" class="linkicon">
                        <a class="notextdecoration labeloflink active" href="#">Langue</a>
                    </li>
                </ul>
            </nav>
            <!--searchbox (toDelete)-->
            <div class="box overlay">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                        aria-describedby="search-addon" />
                    <span class="input-group-text border-1" id="search-addon" style="background-color: whitesmoke;">
                        <a href="filter.html"><i class="fa fa-search ms-auto whitebackground"></i></a>
                    </span>
                </div>
            </div>
            <!--end searchbox-->
        </div>
        <!--end navitgation bar section-->


        <!--second navigation bar demo-->
        <div class="secondNavBar" style="background-color: #3C3C3C;">
            <!--Categories navigation-->
            <div class="dropdown pdngrgt-20">
                <button class="dropbtn"><svg width="41" height="32" viewBox="0 0 41 32" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.0249939 16.3599C0.0249939 14.9792 1.14428 13.8599 2.52499 13.8599H37.525C38.9057 13.8599 40.025 14.9792 40.025 16.3599C40.025 17.7406 38.9057 18.8599 37.525 18.8599H2.52499C1.14428 18.8599 0.0249939 17.7406 0.0249939 16.3599Z"
                            fill="#FAFAFA" />
                        <path
                            d="M0.0249939 3.35986C0.0249939 1.97915 1.14428 0.859863 2.52499 0.859863H37.525C38.9057 0.859863 40.025 1.97915 40.025 3.35986C40.025 4.74058 38.9057 5.85986 37.525 5.85986H2.52499C1.14428 5.85986 0.0249939 4.74058 0.0249939 3.35986Z"
                            fill="#FAFAFA" />
                        <path
                            d="M0.0249939 29.3599C0.0249939 27.9792 1.14428 26.8599 2.52499 26.8599H37.525C38.9057 26.8599 40.025 27.9792 40.025 29.3599C40.025 30.7406 38.9057 31.8599 37.525 31.8599H2.52499C1.14428 31.8599 0.0249939 30.7406 0.0249939 29.3599Z"
                            fill="#FAFAFA" />
                    </svg>
                </button>
                <div class="dropdown-content">
                    <header class="font-cabin font-30 mrgnlft-5 cathegoriesHeader">Cathegories</header>
                    <a class="font-cabin font-20 mrgnlft-5 onecathegorie" href="#">Ordinateurs </a>
                    <a class="font-cabin font-20 mrgnlft-5 onecathegorie" href="#">Hardware </a>
                    <a class="font-cabin font-20 mrgnlft-5 onecathegorie" href="#">Accesoires </a>
                    <a class="font-cabin font-20 mrgnlft-5 onecathegorie" href="#">Cameras </a>
                    <a class="font-cabin font-20 mrgnlft-5 onecathegorie" href="#">Divers </a>
                </div>
            </div>
            <!--end categories navigation-->

            <!--navigation-->
            <a class="notextdecoration font-cabin font-20 mrgnrgt-30 whiteColor" href="#">Meilleurs ventes </a>
            <a class="notextdecoration font-cabin font-20 mrgnrgt-30 whiteColor" href="#">Offres </a>
            <a class="notextdecoration font-cabin font-20 mrgnrgt-30 whiteColor" href="#">Produits </a>
            <a class="hideWhenPhone notextdecoration font-cabin font-20 mrgnrgt-30 whiteColor" href="#">Service client
            </a>
            <a class="hideWhenPhone notextdecoration font-cabin font-20 mrgnrgt-30 whiteColor" href="#">Nous contacter
            </a>
            <!--end navigation-->
        </div>
        <!--end of second navigation bar demo-->




        <!--carousel section / image slider-->
        <div style="z-index: 0;" id="carouselExampleIndicators" class="carousel slide carousel-tt"
            data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/imageSliderTest.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/imageSliderTest.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/imageSliderTest.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!--end  of carousel section / image slider-->


        <div class="contentDiv">
            <!--Nouveautés Section-->
            <div class="font-cabin width-full align-center font-40" style="padding-top: 150px;">
                <header>NOUVEAUTES</header>
            </div>
            <div class="carousel-container radius-20">
                <div class="carousel-inner">
                    <div class="track">
                        <!--this is one product (can be mapped with react after deleting the rest)-->

                        <div class="productCarouselItem">
                            <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                            <a class="notextdecoration blackcolor" href="product.html">
                                <div class="productinformationpanel info align-center font-20 pdgtp-5">
                                    <header class="font-cabin">Asus vivobook</header>
                                    <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                                    <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                                </div>
                            </a>
                        </div>

                        <!--end of one product-->

                        <div class="productCarouselItem">
                            <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                            <a class="notextdecoration blackcolor" href="product.html">
                                <div class="productinformationpanel info align-center font-20 pdgtp-5">
                                    <header class="font-cabin">Asus vivobook</header>
                                    <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                                    <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                                </div>
                            </a>
                        </div>

                        <div class="productCarouselItem">
                            <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                            <a class="notextdecoration blackcolor" href="product.html">
                                <div class="productinformationpanel info align-center font-20 pdgtp-5">
                                    <header class="font-cabin">Asus vivobook</header>
                                    <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                                    <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                                </div>
                            </a>
                        </div>

                        <div class="productCarouselItem">
                            <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                            <a class="notextdecoration blackcolor" href="product.html">
                                <div class="productinformationpanel info align-center font-20 pdgtp-5">
                                    <header class="font-cabin">Asus vivobook</header>
                                    <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                                    <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                                </div>
                            </a>
                        </div>

                        <div class="productCarouselItem">
                            <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                            <a class="notextdecoration blackcolor" href="product.html">
                                <div class="productinformationpanel info align-center font-20 pdgtp-5">
                                    <header class="font-cabin">Asus vivobook</header>
                                    <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                                    <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                                </div>
                            </a>
                        </div>

                        <div class="productCarouselItem">
                            <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                            <a class="notextdecoration blackcolor" href="product.html">
                                <div class="productinformationpanel info align-center font-20 pdgtp-5">
                                    <header class="font-cabin">Asus vivobook</header>
                                    <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                                    <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                                </div>
                            </a>
                        </div>

                        <div class="productCarouselItem">
                            <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                            <a class="notextdecoration blackcolor" href="product.html">
                                <div class="productinformationpanel info align-center font-20 pdgtp-5">
                                    <header class="font-cabin">Asus vivobook</header>
                                    <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                                    <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                                </div>
                            </a>
                        </div>

                        <div class="productCarouselItem">
                            <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                            <a class="notextdecoration blackcolor" href="product.html">
                                <div class="productinformationpanel info align-center font-20 pdgtp-5">
                                    <header class="font-cabin">Asus vivobook</header>
                                    <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                                    <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navButton">
                    <button class="prev">
                        <i class="material-icons">
                            keyboard_arrow_left
                        </i>
                    </button>
                    <button class="next">
                        <i class="material-icons">
                            keyboard_arrow_right
                        </i>
                    </button>
                </div>
            </div>
            <!--end of Nouveautés Section-->


            <!--Cathegories Section-->
            <div class="font-cabin width-full align-center font-40" style="padding-top: 150px;">
                <header>LES CATHEGORIES LES PLUS VISITES</header>
            </div>
            <div class="flex-container informationspanel" style="padding-bottom: 30px; margin-bottom: 100px;">
                <div class="flex-item-left">
                    <div class="flex-container ">
                        <div class="flex-item-left" style="padding: 10px;">
                            <!--camera and mouse-->
                            <div style="padding-top: 40px; padding-bottom: 40px;"
                                class="zoomwhenhover shadowForMainSquareType width-full radius-10 bodyBackground align-center padding">
                                <img class="" width="30%" height="40%" src="images/mouse.png" alt="">
                                <header style="padding-top: 20px;" class="font-cabin font-20">Mouse</header>
                                <small class="form-text text-muted font-cabin ">Voir plus </small>
                            </div>
                            <div style="padding-top: 40px;margin-top: 20px; padding-bottom: 40px;"
                                class="zoomwhenhover shadowForMainSquareType width-full radius-10 bodyBackground align-center padding">
                                <img class="" width="60%" height="75%" src="images/camera.png" alt="">
                                <header style="padding-top: 20px;" class="font-cabin font-20">Camera</header>
                                <small class="form-text text-muted font-cabin ">Voir plus </small>
                            </div>
                        </div>
                        <div class="flex-item-right" style="padding: 10px;">
                            <!--phone-->
                            <div style="padding-top: 40px; padding-bottom: 40px; height: 100%;"
                                class="zoomwhenhover shadowForMainSquareType width-full radius-10 bodyBackground align-center padding">
                                <img class="" width="100%" height="80%" src="images/phone.png" alt="">
                                <header style="padding-top: 20px;" class="font-cabin font-20">Téléphones</header>
                                <small class="form-text text-muted font-cabin ">Voir plus </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-item-right" style="padding: 10px;">
                    <!--laptops-->
                    <div style="padding-top: 0px; padding-bottom: 10px; height: 100%;"
                        class="zoomwhenhover shadowForMainSquareType width-full radius-10 bodyBackground align-center padding">
                        <img class="" width="60%" height=80% src="images/pc.png" alt="">
                        <header style="padding-top: 20px;" class="font-cabin font-20">Ordinateurs</header>
                        <small class="form-text text-muted font-cabin ">Voir plus </small>
                    </div>
                </div>
            </div>
            <!--end of Cathegories Section-->




            <!--PC PRO DZ informations section-->
            <div class="flex-container informationspanel">
                <!--description-->
                <div class="flex-item-left">
                    <h1 class="font-cabin">PC PRO DZ</h1>
                    <h3 class="font-cabin">ALGER, ALGERIE</h3>
                    <br>
                    <h3 class="font-cabin font-bold">Adresse : cité 1577 logts AADL Bt:06 N°16, Bab Ezzouar</h3>
                    <h3 class="font-cabin font-bold">Coordonés : 36.7192013152, 3.19091677666
                    </h3>
                </div>
                <!--end description-->

                <!--carousel of the shop-->
                <div class="flex-item-right">
                    <div id="carouselExampleIndicators2" class="carousel slide carousel-tt" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner radius-20">
                            <div class="carousel-item active">
                                <img src="images/5.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="images/5.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="images/5.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <!--end carousel of the shop-->

                <!--map-->
                <iframe id="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d799.5464325552863!2d3.183110022113789!3d36.71810039597305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128e516021906a95%3A0x4eead6555d1c4d87!2sPC%20PRO%20DZ!5e0!3m2!1sfr!2sdz!4v1647982967741!5m2!1sfr!2sdz"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
            <!--end of PC PRO DZ informations section-->



        </div>
        <!--Footer Section (style delete)-->
        <footer class="footer-dark" style="margin-top: 132px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>A propos<br></h3>
                        <ul>
                            <li><a href="#">xxxxxxxxxx</a></li>
                            <li><a href="#">xxxxxxxxxx</a></li>
                            <li><a href="#">xxxxxxxxxx</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Categories</h3>
                        <ul>
                            <li><a href="#">xxxxxxxxxx 1</a></li>
                            <li><a href="#">xxxxxxxxxx 2<br></a></li>
                            <li><a href="#">xxxxxxxxxx 3<br></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>xxxxxxxxxxxxxxxxxxxxxxx.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                                class="icon ion-social-twitter"></i></a><a href="#"><i
                                class="icon ion-social-snapchat"></i></a><a href="#"><i
                                class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Pc Pro Dz © 2022</p>
            </div>
        </footer>
        <!--end of Footer Section-->

        <script src="js/bootstrap.min.js"></script>
        <script src="js/product_carousel.js"></script>
    </div>
</body>

</html>