<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/ionicons.min.css">
    <link rel="shortcut icon" href="images/logo.png">
</head>

<body class="bodyBackground">
    <!--Nouveautés Section-->
    <div class="font-cabin width-full align-center font-40" style="padding-top: 150px;">
        <header>NOUVEAUTES</header>
    </div>
    <div class="carousel-container radius-20">
        <div class="carousel-inner">
            <div class="track">
                <!--this is one product (can be mapped with react after deleting the rest)-->

                <div class="productCarouselItem">
                    <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                    <a class="notextdecoration blackcolor" href="product.html">
                        <div class="productinformationpanel info align-center font-20 pdgtp-5">
                            <header class="font-cabin">Asus vivobook</header>
                            <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                            <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                        </div>
                    </a>
                </div>

                <!--end of one product-->

                <div class="productCarouselItem">
                    <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                    <a class="notextdecoration blackcolor" href="product.html">
                        <div class="productinformationpanel info align-center font-20 pdgtp-5">
                            <header class="font-cabin">Asus vivobook</header>
                            <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                            <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                        </div>
                    </a>
                </div>

                <div class="productCarouselItem">
                    <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                    <a class="notextdecoration blackcolor" href="product.html">
                        <div class="productinformationpanel info align-center font-20 pdgtp-5">
                            <header class="font-cabin">Asus vivobook</header>
                            <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                            <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                        </div>
                    </a>
                </div>

                <div class="productCarouselItem">
                    <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                    <a class="notextdecoration blackcolor" href="product.html">
                        <div class="productinformationpanel info align-center font-20 pdgtp-5">
                            <header class="font-cabin">Asus vivobook</header>
                            <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                            <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                        </div>
                    </a>
                </div>

                <div class="productCarouselItem">
                    <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                    <a class="notextdecoration blackcolor" href="product.html">
                        <div class="productinformationpanel info align-center font-20 pdgtp-5">
                            <header class="font-cabin">Asus vivobook</header>
                            <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                            <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                        </div>
                    </a>
                </div>

                <div class="productCarouselItem">
                    <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                    <a class="notextdecoration blackcolor" href="product.html">
                        <div class="productinformationpanel info align-center font-20 pdgtp-5">
                            <header class="font-cabin">Asus vivobook</header>
                            <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                            <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                        </div>
                    </a>
                </div>

                <div class="productCarouselItem">
                    <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                    <a class="notextdecoration blackcolor" href="product.html">
                        <div class="productinformationpanel info align-center font-20 pdgtp-5">
                            <header class="font-cabin">Asus vivobook</header>
                            <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                            <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                        </div>
                    </a>
                </div>

                <div class="productCarouselItem">
                    <img class="radius-20" width="100%" height="100%" src="images/product2.png" />
                    <a class="notextdecoration blackcolor" href="product.html">
                        <div class="productinformationpanel info align-center font-20 pdgtp-5">
                            <header class="font-cabin">Asus vivobook</header>
                            <small class="form-text text-muted font-cabin ">I5 82333 U - 8 GO RAM ....</small>
                            <header class="font-cabin font-20 pdgtp-5">Prix : 150000</header>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="navButton">
            <button class="prev">
                <i class="material-icons">
                    keyboard_arrow_left
                </i>
            </button>
            <button class="next">
                <i class="material-icons">
                    keyboard_arrow_right
                </i>
            </button>
        </div>
    </div>
    <!--end of Nouveautés Section-->
















    <script src="js/product_carousel.js"></script>
</body>

</html>